body{
    font-family: Helvetica, Arial;
    background-image: url(Images/lassenStream.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

h1{
    font-size: 5em;
}

.loginPageContainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.leftContainer{
    width: 50vw;
    padding: 10px 10px;
    background-color:rgba(236, 236, 236, 0.5);
    border-radius: 20px;
    text-align: left;
}

.loginContainer{
    /*width: 50vw;*/
    padding: 10px 10px;
    background-color:rgba(236, 236, 236, 0.5);
    border-radius: 20px;
    align-content: center;
}

.loginContainer h2{
    font-size: 1.5em;
}

.loginContainer label{
    font-size: 1em;
}